.main,
.title,
.cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main {
  .title {
    background-color: $LIGHTBLUE;
    padding: 15px 0;

    h1 {
      color: $DARKBLUE;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 15px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .cards {
    margin-top: 20px;
  }
}

@media (min-width: 800px) {
  .cards {
    flex-direction: row;
  }
}
