.go-course {
  text-decoration: none;
}
.content-course {
  background-color: #056674b0;
  font-size: 20px;
  align-items: center;
  width: 90%;
  padding: 10px;
  margin: 5px 5px 10px 5px;
  border-radius: 10px;
  cursor: pointer;

  .for-title-cardlink {
    color: $WHITE;
    text-align: center;
    margin: auto;
  }

  .for-div-cardlink {
    width: 30%;
  }
}
.images {
  width: 150px;
  height: 75px;
  margin-right: 10px;
}
.txt-link {
  text-align: justify;
  width: 155px;
}

@media (min-width: 800px) {
  .content-course {
    width: 40%;
  }
}
