Button {
  background-color: $DARKBLUE;
  border: none;
  width: 75%;
  height: 103px;
  color: $WHITE;
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 24px;
  border-radius: 5px;
}

@media (min-width: 800px) {
  button {
    width: 75%;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 60%;
  }
}
