@import '../../assets/scss/conf';
a{
    text-decoration: none;
    // color: white;
    // background-color: #045E6C;
}
.main-front{
    display: block;
    text-align: center;
}
.content-course{
    background-color: #ffffff;
    width: 500px;
    padding: 10px;
    margin: 5px;
    display: flex;
    border-radius: 10px;
}
.images{
    width: 150px;
    height: 75px;
    margin-right: 10px;
}
.txt-link{
    text-align: justify;
    width: 115px;
}
@media (min-width: 800px){
    .content-course{
        display: inline-flex;
    }
}