.go-course{
    text-decoration: none;
}
.content-dev{
    background-color: #056674b0;
    display: inline-table;
    font-size: 20px;
    width: 460px;
    height: 90px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.txt-link{
    text-align: justify;
    width: 155px;
    display: contents;
}
