div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  text-align: center;
}

.logo {
  display: flex;
  align-content: center;
  justify-content: center;
}

.about,
.information,
.footer {
  background-color: $LIGHTBLUE;
  align-content: center;
}

.aboutName {
  font-size: 18px;
}

.aboutText {
  font-size: 12px;
}

.about {
  height: 231px;
}

.information {
  font-size: 16px;
  height: 73px;
}

.footer {
  height: 29px;
  font-size: 14px;
}
