.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  text-align: center;
}

.header_logo {
  width: 70%;
}

.logo {
  display: flex;
  align-content: center;
  justify-content: center;
}

.about,
.information,
.footer {
  background-color: $LIGHTBLUE;
  align-content: center;
}


.aboutName {
  font-size: 25px;
  margin-bottom: 5%;
}

.aboutText {
  font-size: 20px;
  text-align: justify;
}

.about {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.information {
  font-size: 20px;
  padding: 1em;
  margin-bottom: 2em;
}

.footer {
  padding: 0.8em;
  font-size: 14px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recuo {
   text-indent:2em 
}

.for-span-home{
  font-weight: bolder;
  color: $WHITE;
}

@media (min-width: 800px) {
  .header {
    margin-top: 1%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    width: 50%;
  }

  .footer {
    font-size: 16px;
  }

  .information {
    background-color: $OFFWHITE;
    font-size: 18px;
    width: 80%;
  }

  .button {
    width: 50%;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutName {
    font-size: 22px;
  }

  .aboutText {
    font-size: 16px;
    width: 90%;
    text-align: justify;
  }

  .box {
    display: flex;
    height: 60%;
  }

  .box2 {
    display: flex;
    flex-direction: column;
    height: 40%;
  }

  .container {
    height: 100vh;
  }
}
