.main {
  color: $DARKBLUE;
}

.img-mentoring {
  width: 90%;
}

.construction {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.information-guide {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: justify;
  width: 80%;
  margin-bottom: 10%;
}

@media (min-width: 800px) {
  .img-mentoring {
    width: 50%;
  }

  .information-guide {
    width: 50%;
  }
}
