.main {
  color: $DARKBLUE;
}

.construction {
  margin: 5%;
}

.construction-img {
  width: 100%;
}

.information-guide {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: justify;
  width: 80%;
}

@media (min-width: 800px) {
  .information-guide {
    width: 50%;
  }
}
