.main {
  color: $DARKBLUE;
}

.construction {
  margin: 5%;
}

.information-guide {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 80%;
}

@media (min-width: 800px) {
  .information-guide {
    width: 70%;
  }
}
