.forLogo {
  top: 0;
  right: 0;
  position: absolute;
  width: 40%;
}

.forHeader {
  height: 80px;
}

@media (max-width: 500px) {
  .forLogo {
    margin: 0 3% 0 0;
  }
}

@media (min-width: 800px) {
  .forLogo {
    width: 20%;
    margin: 0 2% 0 0;
  }
}
