.basic-structure{
    height: auto;
    width: 80%;
    background-color: $DARKBLUE;
    color: $OFFWHITE;
    position:relative;   
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 8%;
    display: inline-block;      
    border-left-style: solid;
    border-width: 15px;
    border-color: $PINK;
    border-radius: 5px;
    margin: 0px auto 0px auto;
}

.forTitle{
    font-size: x-large;
    font-weight: bold;
}

.forAlign{
    text-align: center;
    margin-top: 9%;
    margin-bottom: 5%;
}

.cover-card{
    width: 50%;
    height: 50%;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}