.btn-steps {
  background-color: $DARKBLUE;
  border: none;
  border-radius: 5px;
  color: $WHITE;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: capitalize;
  width: 75%;

  .link-steps {
    text-decoration: none;
    padding: 10px 20px;
  }

  .link-steps:link,
  .link-steps:link:active,
  .link-steps:visited:active,
  .link-steps:visited {
    color: $WHITE;
  }
}

@media (min-width: 800px) {
  .btn-steps {
    margin-bottom: 5px;
    width: 40%;
  }
}
