.btn {
  background-color: $PINK;
  border: none;
  width: 75%;
  height: 30px;
  color: $WHITE;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 5px;
}
