h2 {
  text-align: center;
}

.ops {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10%;
  color: $DARKBLUE;
}

.construction {
  margin: 5%;
}

.information-guide {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 80%;
}
